.i{
    display: flex;
    padding: 0px;
    
}
.i-l-wrapper{
    padding: 50px;
    height:50%;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right{
    flex: 1;
}
.i-intro{
    font-size: 45px;
    font-weight: 300;
}

.i-name{
    font-size: 60px;
    padding: 0;
}
.i-name{
    animation-name: name;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
   
    animation-direction: alternate-reverse;
}

@keyframes name {
  
         
    
    50%{
        
        color: rgb(192, 224, 46);
        font-size: 10vh;
        padding: 45px;
  
       
    }
    100%{
       margin-bottom: 45px;
       padding: 60px;
        
    }
}

.i-title{
    height: 50px;
    overflow: hidden;
   
}

.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: greenyellow;
    display: flex;
    align-items: center;
}
.i-title-wrapper{
  height: 100px;
  animation: move 10s ease-in-out infinite alternate;
  margin: 0 122px 15px 0;
}

@keyframes move {
    25%{ transform: translateY(-50px); }
    50%{ transform: translateY(-100px);  }
    75%{ transform: translateY(-150px);  }
    100%{ transform: translateY(-200px);  }
    
}

.i-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    
}

